[submodule "c-implementation/libfreetype"]
	path = c-implementation/libfreetype
	url = git://github.com/ricardoquesada/libfreetype

[submodule "rust-implementation"]
	path = rust-implementation
	url = https://github.com/canselcik/libremarkable
