# Build artifacts
poc
evtest

*.iml
*.iws
*.ipr

target/
Cargo.lock

.project
.cproject
*.mp4
.settings

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Shared objects
*.so

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
libremarkable/libremarkable.a
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
