[package]
name = "libremarkable"
version = "0.5.0"
authors = ["Can Selcik <contact@cselcik.com>"]
repository = "https://github.com/canselcik/libremarkable"
license = "MIT"
description = "The only publicly available Framework for developing applications for the Remarkable Paper Tablet w/ Low Latency Partial Refresh Support"
readme = "README.md"
exclude = [ "reference-material/*", "legacy-c-impl/*", "private/*" ]
edition = "2018"

[dependencies]
log = "0.4.14"
env_logger = "0.9.0"
ioctl-gen = "0.1.1"
libc = "0.2.69"
memmap2 = "0.5.0"
rusttype = "0.9.2"
evdev = "0.11.3"
epoll = "4.3.1"
image = "0.23.14"
line_drawing = "1.0.0"
hlua = "0.4.1"
aabb-quadtree = "0.1.0"
zstd = "0.9.0+zstd.1.5.0"
stopwatch = "0.0.7"
atomic = "0.5.0"
cgmath = "0.18.0"
fxhash = "0.2.1"
once_cell = "1.8.0"

[features]
enable-runtime-benchmarking = []

[profile.release]
debug = true
lto = true

[[example]]
name = "spy"
path = "examples/spy.rs"
crate-type = ["dylib"]

[[example]]
name = "demo"
path = "examples/demo.rs"
crate-type = ["bin"]

[[example]]
name = "live"
path = "examples/live.rs"
crate-type = ["bin"]

[dev-dependencies]
# For spy
redhook = "2.0.0"
libc = "0.2.69"
# For demo
chrono = "0.4.19"
# For live
tiny_http = "0.9.0"
